#root {
  background-color: #333;
}

.App {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  align-items: center;
  max-width: 800px;
  text-align: center;
  margin: 2%;
  padding: 20px;
  background: #add8e6 !important;
  color: #333;
}

.card-image {
  max-width: 80%;
  margin-bottom: 5%;
}

.card-link {
  color: #333;
  font-size: 20px;
  text-decoration: underline;
}
